<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

        body {
            font-family: 'Arima', cursive;
            color: black;
            max-width: 700px;
            margin: 0px auto;
            border: 3px solid black;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            min-height: 99vh;
        }

        footer {
            color: #888888;
            border-top: 1px solid #eeeeee;
            margin-top: 16px;
            padding: 16px 0;
            font-size: 18px;
        }

        header {
            margin-top: 16px;
            margin-bottom: 48px;
        }

        h1 {
            font-size: 64px;
            margin-bottom: 16px;
        }

        header a {
            font-size: 25px;
            color: #888888;
            margin-right: 16px;
            text-decoration: none;
        }

        .main-contain {
            flex-grow: 1;
        }

        .imgs {
            height: 300px;
        }

        p {
            font-size: 25px;
        }
    </style>

    <link rel="icon" href="./weather.png">
    <title>About</title>
</head>

<body>

    <div class="main-contain">
        {{>header}}
        <img src='./Cartoon.jpg' alt="image not visible" height="300px">
    </div>
    {{>footer}}
</body>

</html>