<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='./style.css'>
    <link rel="icon" href="./weather.png">
    <title>About</title>
</head>
<body>
    
    <div class="main-contain">
    {{>header}}
    <img src='./Cartoon.jpg' alt="image not visible" height="300px">    
    </div>
    {{>footer}}
</body>
</html>