<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./weather.png">

    <title>Help</title>
</head>
<body>
    <div class="main-contain">
        {{>header}}
        <p>This site is used for check weather<br><br>You can also Check weather by Entre zip/pin code or palce/city name <br><br> Thanks For Visit Our WebSite !!!       
        &#128519; &#128513;&#128513;  </p>
    </div>
    
    {{>footer}}
</body>
</html>